/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; 
}


/* Base styling for hexagons */
.background-shape {
  position: absolute;
  opacity: 0.1; /* Adjust for subtle appearance */
  pointer-events: none; 
  animation: float 12s ease-in-out infinite alternate;
}

.hexagon {
  width: 150px; 
  height: 150px;
  background-color: #facca7; 
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}


.hexagon-1 {
  top: 10%;
  left: 15%;
  animation-delay: 0s; 
}
.hexagon-2 {
  top: 30%;
  left: 60%;
  animation-delay: 2s;
}

.hexagon-3 {
  top: 70%;
  left: 20%;
  animation-delay: 4s;
}

.hexagon-4 {
  top: 50%;
  left: 80%;
  animation-delay: 6s;
}

/* Subtle floating animation */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(15px, 15px); 
  }
}


nav {
  background-color: rgb(67, 160, 197);;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.section {
  padding: 20px;
  margin: 30px;
}

.profile-pic img {
  max-width: 150px;
  border-radius: 50%;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  background-color: rgb(22, 177, 216);
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.project-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-box {
  background-color: #ece4e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-box:hover {
  transform: translateY(-10px); /* Lift the box on hover */
}

.project-box img {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 15px;
}

.project-content h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.project-content p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

/* Background Shapes */
#projects::before, #projects::after {
  content: '';
  position: absolute;
  z-index: -1; /* Keep shapes behind the content */
  opacity: 0.15;
  border-radius: 50%;
}

#projects::before {
  width: 200px;
  height: 200px;
  background-color: #ff8000;
  top: -50px;
  left: -50px;
}

#projects::after {
  width: 300px;
  height: 300px;
  background-color: #333;
  bottom: -75px;
  right: -75px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(109, 79, 14);
  color: #fff
}
.button:hover{
  background-color: darkorange;
}

footer{
  background-color:rgb(67, 160, 197);
  padding:20px;
  margin:auto;
  padding: 30px;
  color: white;
}